/* music */
@keyframes audioCor {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}

@-webkit-keyframes audioCor {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}

#page_0{
    background: linear-gradient(45deg, black, rgb(97, 97, 97));
    background-size: 1200%;
    z-index: 200;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.audioDecora{
    animation: audioCor both 7s 0s linear infinite;
}

#audioSet{
  opacity: 1;
  position: absolute;
  width: 100%;

  padding-top: calc(20%);
  padding-left: 40%;
  padding-bottom: 100%;
  padding-right: 100%;
}

/* music note */
    /* appear note */
@keyframes appearNote {
    0%{
        opacity: 0;
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        filter: blur(1px);
    }
}

    /* 1 */
@keyframes musicNote_1{
    0%{
        color: white;
        transform: rotate(-360deg);
        top: 20px;
    }
    10%{
        color: rgb(30, 235, 23);
    }
    20%{
        color: rgb(233, 42, 42);
    }
    30%{
        color: rgb(255, 61, 229);
    }
    40%{
        color: #2c64ff;
    }
    50%{
        color: #000000;
        transform: rotate(0deg);
    }
    60%{
        color: #2cff5a;
    }
    70%{
        color: #55ffe3;
    }
    80%{
        color: #ff2cdc;
    }
    90%{
        color: #bbff00;
    }
    100%{
        color: rgb(255, 255, 255);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes musicNote_1{
    0%{
        color: white;
        transform: rotate(-360deg);
    }
    10%{
        color: rgb(30, 235, 23);
    }
    20%{
        color: rgb(233, 42, 42);
    }
    30%{
        color: rgb(255, 61, 229);
    }
    40%{
        color: #2c64ff;
    }
    50%{
        color: #000000;
        transform: rotate(0deg);
    }
    60%{
        color: #2cff5a;
    }
    70%{
        color: #55ffe3;
    }
    80%{
        color: #ff2cdc;
    }
    90%{
        color: #bbff00;
    }
    100%{
        color: rgb(255, 255, 255);
        transform: rotate(360deg);
    }
}

#musicNoteSet_1{
    font-size: 70px;
    width: 100vw;
    position: absolute;
    right: 500px;
    animation: musicNote_1 0.2s forwards linear infinite,
               appearNote 1s 0s backwards linear;
}

    /* 2 */
@keyframes musicNote_2{
    0%{
        color: white;
        transform: rotate(360deg);
    }
    10%{
        color: rgb(30, 235, 23);
    }
    20%{
        color: rgb(233, 42, 42);
    }
    30%{
        color: rgb(255, 61, 229);
    }
    40%{
        color: #2c64ff;
    }
    50%{
        color: #000000;
        transform: rotate(0deg);
    }
    60%{
        color: #2cff5a;
    }
    70%{
        color: #55ffe3;
    }
    80%{
        color: #ff2cdc;
    }
    90%{
        color: #bbff00;
    }
    100%{
        color: rgb(255, 255, 255);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes musicNote_2{
    0%{
        color: white;
        transform: rotate(360deg);
    }
    10%{
        color: rgb(30, 235, 23);
    }
    20%{
        color: rgb(233, 42, 42);
    }
    30%{
        color: rgb(255, 61, 229);
    }
    40%{
        color: #2c64ff;
    }
    50%{
        color: #000000;
        transform: rotate(0deg);
    }
    60%{
        color: #2cff5a;
    }
    70%{
        color: #55ffe3;
    }
    80%{
        color: #ff2cdc;
    }
    90%{
        color: #bbff00;
    }
    100%{
        color: rgb(255, 255, 255);
        transform: rotate(-360deg);
    }
}

#musicNoteSet_2{
    font-size: 70px;
    width: 100vw;
    position: absolute;
    left: 500px;
    animation: musicNote_2 0.15s backwards linear infinite,
               appearNote 1s 0.6s backwards linear;
}

    /* 3 */
@keyframes musicNote_3{
    0%{
        color: white;
        transform: rotate(360deg);
    }
    10%{
        color: rgb(30, 235, 23);
    }
    20%{
        color: rgb(233, 42, 42);
    }
    30%{
        color: rgb(255, 61, 229);
    }
    40%{
        color: #2c64ff;
    }
    50%{
        color: #000000;
        transform: rotate(0deg);
    }
    60%{
        color: #2cff5a;
    }
    70%{
        color: #55ffe3;
    }
    80%{
        color: #ff2cdc;
    }
    90%{
        color: #bbff00;
    }
    100%{
        color: rgb(255, 255, 255);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes musicNote_3{
    0%{
        color: white;
        transform: rotate(360deg);
    }
    10%{
        color: rgb(30, 235, 23);
    }
    20%{
        color: rgb(233, 42, 42);
    }
    30%{
        color: rgb(255, 61, 229);
    }
    40%{
        color: #2c64ff;
    }
    50%{
        color: #000000;
        transform: rotate(0deg);
    }
    60%{
        color: #2cff5a;
    }
    70%{
        color: #55ffe3;
    }
    80%{
        color: #ff2cdc;
    }
    90%{
        color: #bbff00;
    }
    100%{
        color: rgb(255, 255, 255);
        transform: rotate(-360deg);
    }
}

#musicNoteSet_3{
    font-size: 70px;
    width: 100vw;
    position: absolute;
    left: 500px;
    bottom: 50px;
    animation: musicNote_3 0.15s backwards linear infinite,
               appearNote 1s 1.2s backwards linear;
}

    /* 4 */
@keyframes musicNote_4{
    0%{
        color: white;
        transform: rotate(-360deg);
        top: 20px;
    }
    10%{
        color: rgb(30, 235, 23);
    }
    20%{
        color: rgb(233, 42, 42);
    }
    30%{
        color: rgb(255, 61, 229);
    }
    40%{
        color: #2c64ff;
    }
    50%{
        color: #000000;
        transform: rotate(0deg);
    }
    60%{
        color: #2cff5a;
    }
    70%{
        color: #55ffe3;
    }
    80%{
        color: #ff2cdc;
    }
    90%{
        color: #bbff00;
    }
    100%{
        color: rgb(255, 255, 255);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes musicNote_4{
    0%{
        color: white;
        transform: rotate(-360deg);
    }
    10%{
        color: rgb(30, 235, 23);
    }
    20%{
        color: rgb(233, 42, 42);
    }
    30%{
        color: rgb(255, 61, 229);
    }
    40%{
        color: #2c64ff;
    }
    50%{
        color: #000000;
        transform: rotate(0deg);
    }
    60%{
        color: #2cff5a;
    }
    70%{
        color: #55ffe3;
    }
    80%{
        color: #ff2cdc;
    }
    90%{
        color: #bbff00;
    }
    100%{
        color: rgb(255, 255, 255);
        transform: rotate(360deg);
    }
}

#musicNoteSet_4{
    font-size: 70px;
    width: 100vw;
    position: absolute;
    right: 500px;
    bottom: 50px;
    animation: musicNote_3 0.15s backwards linear infinite,
               appearNote 1s 1.8s backwards linear;
}


/* music guide */
    /* color text */
@keyframes audioText{
    0%{
        color: rgb(216, 25, 25);
    }
    25%{
        color: rgb(4, 226, 255);
    }
    50%{
        color: #c5eb1f;
    }
    75%{
        color: rgb(255, 0, 212);
    }
    100%{
        color: rgb(216, 25, 25);
    }
}

@-webkit-keyframes audioText{
    0%{
        color: rgb(216, 25, 25);
    }
    25%{
        color: rgb(4, 226, 255);
    }
    50%{
        color: #c5eb1f;
    }
    75%{
        color: rgb(255, 0, 212);
    }
    100%{
        color: rgb(216, 25, 25);
    }
}

    /* appear text */
@keyframes appearText{
    0%{
        opacity: 0;
        font-size: 70px;
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        font-size: 50px;
        filter: blur(0px);
    }
}

#guideSet{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-align: center;

    animation: audioText 1s 0s linear infinite forwards,
               appearText 2s 2s linear backwards;

    position: absolute;
    width: 100%;
    top: 53%;
    margin: 0 auto;

    z-index: 500;
}

/* music thanks after click */
@keyframes audioThanks {
    0%{
        color: yellow;
        font-size: 50px;
        filter: blur(10px);
    }
    25%{
        color: red;
    }
    50%{
        color: purple;
    }
    75%{
        color: #55ffe3;
    }
    100%{
        color: white;
        font-size: 40px;
        filter: blur(0px);
    }
}

@-webkit-keyframes audioThanks {
    0%{
        color: yellow;
        font-size: 50px;
        filter: blur(10px);
    }
    25%{
        color: red;
    }
    50%{
        color: purple;
    }
    75%{
        color: #55ffe3;
    }
    100%{
        color: white;
        font-size: 40px;
        filter: blur(0px);
    }
}

@keyframes audioOut {
    0%{
        filter: blur(0px);
        opacity: 1;
    }
    100%{
        filter: blur(10px);
        opacity: 0;
    }
}

#thanksSet{
    position: absolute;

    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-align: center;

    width: 100%;
    top: 23%;
    margin: 0 auto;
}

/* class add */
.thanksetAnimation{
    animation: audioThanks 3s 0s linear forwards,
               audioOut 3s 1s linear forwards;
}

/* audio show */
@keyframes audioAppear {
    0%{
        filter: blur(10px);
        display: none;
    }
    100%{
        filter: blur(0px);
    }
}

@-webkit-keyframes audioAppear{
    0%{
        filter: blur(10px);
    }
    100%{
        filter: blur(0px);
    }
}

.audioAppearStyle{
    animation: audioAppear 1s 2s linear backwards;
}

/* all page display:"none"; after blur(0px) done */
@keyframes allpageOut {
    0%{
        filter: blur(0px);
        opacity: 1;
    }
    100%{
        filter: blur(10px);
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes allpageOut {
    0%{
        filter: blur(0px);
        opacity: 1;
    }
    100%{
        filter: blur(10px);
        opacity: 0;
        display: none;
    }
}

.allOut{
    animation: allpageOut 1s 0s linear forwards;
}