/* ---- Page - 3 ---- */
.carousel img{
  display: initial;
}

@keyframes page_3_BG {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}

@-webkit-keyframes page_3_BG {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}

#p3_img_1:active{
  width: 500px;
}

#p3_img_2:active{
  width: 500px;
}

#p3_img_3:active{
  width: 500px;
}

#p3_img_4:active{
  width: 500px;
}

#p3_img_5:active{
  width: 500px;
}


#showCa{
  width: 100%;
  height: 100%;

  background: linear-gradient(45deg, rgb(217, 254, 255), #ffd768, #8cff7c, #ff85f9, rgb(217, 254, 255));
  animation: page_3_BG both 10s 0s ease-in-out infinite;
  background-size: 1200%;
}

/* *Text appearance */
@keyframes textAppearPage_3{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@-webkit-keyframes textAppearPage_3{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes backGroundSet_TAP_3 {
  0%{
    background-color: rgba(185, 185, 185, 0);
  }
  100%{
    background-color: rgba(185, 185, 185, 0.377);
  }
}

/* *Content 1 - page 3 */
#contents_p3_1{
  position: absolute;
  top: 20px;
  left: 50px;
  width: 30%;

  padding: 6px;
  border-radius: 10px;

  font-weight: 600;
  font-family: 'Merriweather', serif;

  animation: backGroundSet_TAP_3 1s 5s linear forwards;

  line-height: 30px;
  text-align: center;
}

#ctnp3_1_1{
  animation: textAppearPage_3 2s 0.5s linear backwards;
}

#ctnp3_1_2{
  animation: textAppearPage_3 2s 0.8s linear backwards;
  color: rgb(255, 104, 104);
}

#ctnp3_1_3{
  animation: textAppearPage_3 2s 1.3s linear backwards;
  color: rgb(255, 104, 104);
}

#ctnp3_1_4{
  animation: textAppearPage_3 2s 2.5s linear backwards;
}

#ctnp3_1_5{
  animation: textAppearPage_3 2s 3.5s linear backwards;
}

#ctnp3_1_6{
  color: rgb(255, 104, 104);
  animation: textAppearPage_3 2s 5s linear backwards;
}

/* *Content 2 - page 3 */
#contents_p3_2{
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 70%;

  padding: 6px;
  border-radius: 10px;

  font-weight: 600;
  font-family: 'Merriweather', serif;

  animation: backGroundSet_TAP_3 1s 14.5s linear forwards;

  line-height: 35px;
}

#ctnp3_2_1{
  color: #ff41e6;
  animation: textAppearPage_3 2s 11.5s linear backwards;
}

#ctnp3_2_2{
  animation: textAppearPage_3 2s 12.5s linear backwards;
}

#ctnp3_2_3{
  animation: textAppearPage_3 2s 13.5s linear backwards;
}

#ctnp3_2_4{
  animation: textAppearPage_3 2s 14.5s linear backwards;
  color: rebeccapurple;
}

/* *Content 3 - page 3 */
#contents_p3_3{
  position: absolute;
  bottom: 185px;
  left: 50px;
  width: 30%;

  padding: 6px;
  border-radius: 10px;

  font-weight: 600;
  font-family: 'Merriweather', serif;

  animation: backGroundSet_TAP_3 1s 9.5s linear forwards;

  line-height: 35px;

  text-align: center;

}

#ctnp3_3_1{
  color: rgb(113, 113, 255);
  animation: textAppearPage_3 2s 8s linear backwards;
}

#ctnp3_3_2{
  animation: textAppearPage_3 2s 9.5s linear backwards;
}



/* -- Continue 3 Button */
@keyframes C_3_Button_BG-Animation {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}

@-webkit-keyframes C_3_Button_BG-Animation {
  0%{background-position:0% 55%}
  50%{background-position:100% 46%}
  100%{background-position:0% 55%}
}

#Continue_3_Button{
  position: absolute;
  bottom: 30px;
  right: 100px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;

  padding: 15px 35px 15px 35px;

  z-index: 700;

  animation: C_3_Button_BG-Animation 10s 0s ease-in-out infinite;
  background: linear-gradient(-45deg, rgb(242, 255, 128), #ffffff, #a6f89b, #ff85f9, rgb(242, 255, 128));
  background-size: 2000%;

  color: #ff6060;

  border: none;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;

}